<h1>Spending Tracker</h1>
<h3>By: Brian Liu</h3>
<br>
<h5><a href="https://github.com/brianliu108/PROG2430Final">Github</a></h5>
<h5><a href="https://spendingtrackerapp.herokuapp.com">First Spending Tracker</a> - Check it out!</h5>
<h5><a href="https://www.linkedin.com/in/brian-nhu-liu/">LinkedIn</a></h5>
<h5><a href="mailto:bliu3847@conestogac.on.ca">Email</a> - bliu3847@conestogac.on.ca</h5>

<br><br>

<h3>This app was built with:</h3>
<h5>Front End: Angular, Bootstrap, WebSQL</h5>
<br>

<h5><a routerLink="/">Go To The App!</a></h5>